
.ipynb_checkpoints/Experiment Master Analyze-checkpoint.ipynb
.ipynb_checkpoints/Experiment Master Analyze-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Fix Trigger Data-checkpoint.ipynb
.ipynb_checkpoints/Gather Data-checkpoint.ipynb
.ipynb_checkpoints/*
data/*
plotting/.ipynb_checkpoints/*
figures/*
*.asv
models/model coefficeints/*
models/model figures/*